* {
  outline: none;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  backface-visibility: hidden;
}

#app {
  position: absolute;
  inset: 20px;
}

